<a href="https://colab.research.google.com/github/BartoszJanJerzy/stats/blob/main/stata_KJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#WELCOME!

I (Bartosz Wójtowicz, The John Paul II Catholic University of Lublin) wrote this this code to calculate results in one of master thesis.

---

What is the scehdule?

1 - import libraries

2 - functions used later

3 - import data and screening

4 - research sample

5 - relations between variables

---

We share this code with you, feel free to use or check it.

#1 - LIBRARY

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from scipy.stats import pearsonr, ttest_ind, kurtosis, skew, shapiro, f_oneway
import statistics
from statsmodels.formula.api import ols
from scipy import stats

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

#2 - FUNCTIONS

In [13]:
def MakeRegressions(X, y):
  # regresja liniowa
  regressor = LinearRegression()
  regressor.fit(X, y)
  y_pred_lin = regressor.predict(X)

  linear_r2 = r2_score(y, y_pred_lin)
  print('Regresja liniowa R2 = ',linear_r2)


  # regresja kwadratowa
  poly = PolynomialFeatures(degree=2)
  X_2 = poly.fit_transform(X)
  regressor.fit(X_2,y)
  y_pred_2 = regressor.predict(X_2)
  squared_r2 = r2_score(y, y_pred_2)
  print('Regresja kwadratowa R2 = ',squared_r2)

  # regresja stopnia 3
  poly = PolynomialFeatures(degree=3)
  X_3 = poly.fit_transform(X)
  regressor.fit(X_3,y)
  y_pred_3 = regressor.predict(X_3)
  deg3_r2 = r2_score(y, y_pred_3)
  print('Regresja stopnia 3 R2 = ',deg3_r2)

  # regresja stopnia 4
  poly = PolynomialFeatures(degree=4)
  X_4 = poly.fit_transform(X)
  regressor.fit(X_4,y)
  y_pred_4 = regressor.predict(X_4)
  deg4_r2 = r2_score(y, y_pred_4)
  print('Regresja stopnia 4 R2 = ',deg4_r2)

In [19]:
def MakeScatterPlot(df_1, df_2, title, x_title, y_title):
  fig = go.Figure(
      data=go.Scatter(
          x = df_1,
          y = df_2,
          mode = 'markers'
          ),
      layout=go.Layout(
          title = title,
          xaxis_title = x_title,
          yaxis_title = y_title,
          width = 1000,
          height = 700
      ))
  fig.show()

#3 - DATA

##Load data

In [2]:
raw_data = pd.read_excel('data.xlsx')
data = raw_data.copy()
data

    sex  age  residence  education  marital_status  ...  bz1  bz2  bz3  bz4  bz5
0     0   24          1          3               2  ...    4    3    3    1    5
1     1   24          4          4               1  ...    4    3    4    4    3
2     0   23          4          3               2  ...    2    2    2    3    2
3     0   24          4          3               1  ...    2    5    2    5    2
4     1   23          4          3               2  ...    3    1    1    3    4
..  ...  ...        ...        ...             ...  ...  ...  ...  ...  ...  ...
75    1   23          4          4               2  ...    3    3    2    3    3
76    0   22          4          3               2  ...    1    1    1    2    1
77    1   21          4          3               2  ...    4    4    1    2    2
78    0   23          1          4               2  ...    4    1    1    2    1
79    0   23          1          4               1  ...    3    5    3    4    3

[80 rows x 88 columns]

In [3]:
print(f'The raw research sample has {len(data)} records')

The raw research sample has 80 records

##Screenning

###Calculate means and stds

In [4]:
mean_bezp = data['ksp_bezp'].mean()
sd_bezp = data['ksp_bezp'].std()

mean_lek = data['ksp_lek'].mean()
sd_lek = data['ksp_lek'].std()

mean_unik = data['ksp_unik'].mean()
sd_unik = data['ksp_unik'].std()

mean_az = data['az_wo'].mean()
sd_az = data['az_wo'].std()

###Make filters

In [5]:
filter_1 = data['ksp_bezp'] > mean_bezp - 3*sd_bezp
filter_2 = data['ksp_bezp'] < mean_bezp + 3*sd_bezp

filter_3 = data['ksp_lek'] > mean_lek - 3*sd_lek
filter_4 = data['ksp_lek'] < mean_lek + 3*sd_lek

filter_5 = data['ksp_unik'] > mean_unik - 3*sd_unik
filter_6 = data['ksp_unik'] < mean_unik + 3*sd_unik

filter_7 = data['az_wo'] > mean_az - 3*sd_az
filter_8 = data['az_wo'] < mean_az + 3*sd_az

###Use filters

In [6]:
data = data[filter_1]
data = data[filter_2]
data = data[filter_3]
data = data[filter_4]
data = data[filter_5]
data = data[filter_6]
data = data[filter_7]
data = data[filter_8]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [7]:
print(f'The cleaned research sample has {len(data)} records')

The cleaned research sample has 77 records

#4 - RESEARCH SAMPLE

In [8]:
sex = data['sex'].value_counts(sort=False).to_list()

age_mean = round(data['age'].mean(), 2)
age_std = round(data['age'].std(), 2)
age = [0]

residence = data['residence'].value_counts(sort=False).to_list()
education = data['education'].value_counts(sort=False).to_list()
status = data['marital_status'].value_counts(sort=False).to_list()
relation = data['relation'].value_counts(sort=False).to_list()
relation_type = data['relation_type'].value_counts(sort=False).to_list()

relation_len_mean = round(data['relation_len'].mean(), 2)
relation_len_std = round(data['relation_len'].std(), 2)
relation_len = [0]

Ns = []
for i in [sex, age, residence, education, status, relation, relation_type, relation_len]:
  for j in i:
    Ns.append(round(j, 2))


list_perc = []
for i in Ns:
  list_perc.append(round(i/len(data), 2))

Ns_r = []
for i in Ns:
  if i == 0:
    i = '-'
  Ns_r.append(i)

list_perc_r = []
for i in list_perc:
  if i == 0:
    i = '-'
  else:
    i = str(int(i*100)) + '%' 

  list_perc_r.append(i)

In [9]:
demo_dict = {
    'cat':['Mężczyzna','Kobieta',
           'Wiek',
           'Wieś','Małe miasto (do 50tys)','Średnie miasto (do 100tys)','Duże miasto (pow. 100tys)',
           'Podstawowe','Zasadnicze zawodowe','Średnie','Wyższe',
           'Panna/kawaler','Związek nieformalny','Zamężna/żonaty',
           'Bez związku romantycznego','Związek romantyczny',
           'Pierwszy związek','Kolejny związek',
           'Długość związku (miesiące)'],
    'N':Ns_r,
    '%':list_perc_r,
    'M':['-','-', age_mean, '-','-','-','-','-','-','-','-','-','-','-','-','-','-','-', relation_len_mean],
    'SD':['-','-', age_std, '-','-','-','-','-','-','-','-','-','-','-','-','-','-','-', relation_len_std]
}

demo_df = pd.DataFrame(demo_dict)
demo_df

                           cat   N    %      M     SD
0                    Mężczyzna  38  49%      -      -
1                      Kobieta  39  51%      -      -
2                         Wiek   -    -  23.21   1.38
3                         Wieś  25  32%      -      -
4       Małe miasto (do 50tys)   8  10%      -      -
5   Średnie miasto (do 100tys)  11  14%      -      -
6    Duże miasto (pow. 100tys)  33  43%      -      -
7                   Podstawowe   1   1%      -      -
8          Zasadnicze zawodowe   1   1%      -      -
9                      Średnie  40  52%      -      -
10                      Wyższe  35  45%      -      -
11               Panna/kawaler  39  51%      -      -
12         Związek nieformalny  29  38%      -      -
13              Zamężna/żonaty   9  12%      -      -
14   Bez związku romantycznego  22  28%      -      -
15         Związek romantyczny  55  71%      -      -
16            Pierwszy związek  19  25%      -      -
17             Kolejny związek  37  48%      -      -
18  Długość związku (miesiące)   -    -  34.89  24.63

#5 - RELATION BETWEEN VARIABLES

##Descriptive stats

In [47]:
desc_stats = data[['az_wo','ksp_bezp','ksp_lek','ksp_unik']]
desc_stats

k = []
sk = []
sh = []

for c in desc_stats.columns:
  k.append(kurtosis(desc_stats[c]))
  sk.append(skew(desc_stats[c]))
  sh.append(shapiro(desc_stats[c])[1])

desc_stats = desc_stats.describe()
desc_stats = desc_stats.drop(['25%','50%','75%','count'])
desc_stats = desc_stats.T
desc_stats['K'] = k
desc_stats['Sk'] = sk
desc_stats['p'] = sh

desc_stats

               mean        std   min    max         K        Sk         p
az_wo     81.922078  11.487712  58.0  106.0 -0.525824 -0.058038  0.499053
ksp_bezp  43.753247   7.469510  27.0   55.0 -0.938634 -0.343185  0.007692
ksp_lek   28.000000   7.852254  12.0   48.0 -0.147851  0.456615  0.108601
ksp_unik  20.506494   8.350265   8.0   43.0 -0.433217  0.600769  0.005312

##Correlations

In [10]:
corr_list = []

for scale_1 in ['az_wo','ksp_bezp','ksp_lek','ksp_unik']:
  for scale_2 in ['az_wo','ksp_bezp','ksp_lek','ksp_unik']:
    r = round(pearsonr(data[scale_1], data[scale_2])[0], 2)
    p = round(pearsonr(data[scale_1], data[scale_2])[1], 3)

    if str(p) == '0.0':
      p = 0.001
    
    corr_list.append(f'{r} ({p})')

In [12]:
corr_dict = {
    'scale':['az_wo','ksp_bezp','ksp_lek','ksp_unik'],
    'az_wo':corr_list[0:4],
    'ksp_bezp':corr_list[4:8],
    'ksp_lek':corr_list[8:12],
    'ksp_unik':corr_list[12:16]
}

df_cor = pd.DataFrame(corr_dict)

for c in df_cor.columns:
  for i in range(len(df_cor)):
    if df_cor[c][i] == '1.0 (0.001)':
      df_cor[c][i] = ''

print(f"Pearson's r correlations for used subscales (N={len(data)})")
print('r (p)')
print()

df_cor.to_excel('corr_matrix.xlsx')
df_cor

Pearson's r correlations for used subscales (N=77)
r (p)

      scale          az_wo       ksp_bezp        ksp_lek       ksp_unik
0     az_wo                 -0.57 (0.001)    0.3 (0.007)   0.62 (0.001)
1  ksp_bezp  -0.57 (0.001)                 -0.39 (0.001)  -0.71 (0.001)
2   ksp_lek    0.3 (0.007)  -0.39 (0.001)                   0.5 (0.001)
3  ksp_unik   0.62 (0.001)  -0.71 (0.001)    0.5 (0.001)

##Regression models

###Check the shape of realtion

In [15]:
az = data['az_wo'].to_numpy().reshape(-1,1)
bezp = data['ksp_bezp'].to_numpy().reshape(-1,1)
lek = data['ksp_lek'].to_numpy().reshape(-1,1)
unik = data['ksp_unik'].to_numpy().reshape(-1,1)

In [16]:
# ksp_bezp -> az_wo
MakeRegressions(bezp, az)

Regresja liniowa R2 =  0.3209432840586286
Regresja kwadratowa R2 =  0.32651924075135486
Regresja stopnia 3 R2 =  0.3279181146138327
Regresja stopnia 4 R2 =  0.3378799263586558

In [17]:
# ksp_lek -> az_wo
MakeRegressions(lek, az)

Regresja liniowa R2 =  0.09276368997984263
Regresja kwadratowa R2 =  0.09293655469070805
Regresja stopnia 3 R2 =  0.09844079014496654
Regresja stopnia 4 R2 =  0.09846289163399224

In [18]:
# ksp_unik -> az_wo
MakeRegressions(unik, az)

Regresja liniowa R2 =  0.3842353698253982
Regresja kwadratowa R2 =  0.4544927364247867
Regresja stopnia 3 R2 =  0.471085111316617
Regresja stopnia 4 R2 =  0.4891650084356385

In [21]:
MakeScatterPlot(data['ksp_unik'], data['az_wo'], 'Wykres rozrzutu', 'STYL UNIKOWY', 'LĘK PRZED INTYMNOŚCIĄ')

###Linear regression

In [23]:
import statsmodels.api as sm # import statsmodels
from scipy import stats

df = data[['az_wo','ksp_bezp','ksp_lek','ksp_unik']]
df_z = df.apply(stats.zscore)
print('N = ',len(df))
print('N_z = ',len(df_z))

N =  77
N_z =  77

Unstandarized coeffs

In [31]:
x = df[['ksp_bezp','ksp_lek','ksp_unik']]
x = sm.add_constant(x)
y = df['az_wo']
model = sm.OLS(y, x).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  az_wo   R-squared:                       0.418
Model:                            OLS   Adj. R-squared:                  0.394
Method:                 Least Squares   F-statistic:                     17.46
Date:                Fri, 09 Apr 2021   Prob (F-statistic):           1.21e-08
Time:                        15:34:49   Log-Likelihood:                -275.91
No. Observations:                  77   AIC:                             559.8
Df Residuals:                      73   BIC:                             569.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         87.5504     11.819      7.407      0.000      63.994     111.106
ksp_bezp      -0.3978      0.194     -2.049      0.044      -0.785      -0.011
ksp_lek       -0.0305      0.151     -0.202      0.841      -0.332       0.271
ksp_unik       0.6161      0.185      3.332      0.001       0.248       0.985
==============================================================================
Omnibus:                        8.117   Durbin-Watson:                   1.763
Prob(Omnibus):                  0.017   Jarque-Bera (JB):                7.943
Skew:                           0.778   Prob(JB):                       0.0188
Kurtosis:                       3.231   Cond. No.                         651.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Standarized coeffs

In [30]:
x = df_z[['ksp_bezp','ksp_lek','ksp_unik']]
# x = sm.add_constant(x)
y = df_z['az_wo']
model = sm.OLS(y, x).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  az_wo   R-squared (uncentered):                   0.418
Model:                            OLS   Adj. R-squared (uncentered):              0.394
Method:                 Least Squares   F-statistic:                              17.70
Date:                Fri, 09 Apr 2021   Prob (F-statistic):                    9.27e-09
Time:                        15:34:45   Log-Likelihood:                         -88.433
No. Observations:                  77   AIC:                                      182.9
Df Residuals:                      74   BIC:                                      189.9
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ksp_bezp      -0.2587      0.125     -2.063      0.043      -0.508      -0.009
ksp_lek       -0.0209      0.103     -0.203      0.839      -0.226       0.184
ksp_unik       0.4478      0.134      3.354      0.001       0.182       0.714
==============================================================================
Omnibus:                        8.117   Durbin-Watson:                   1.763
Prob(Omnibus):                  0.017   Jarque-Bera (JB):                7.943
Skew:                           0.778   Prob(JB):                       0.0188
Kurtosis:                       3.231   Cond. No.                         2.72
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

###Squared model

In [34]:
df['ksp_unik_2'] = pow(df['ksp_unik'], 2)

x = df['ksp_unik']
x = sm.add_constant(x)
y = df['az_wo']

model = sm.OLS(y, x).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  az_wo   R-squared:                       0.384
Model:                            OLS   Adj. R-squared:                  0.376
Method:                 Least Squares   F-statistic:                     46.80
Date:                Fri, 09 Apr 2021   Prob (F-statistic):           1.84e-09
Time:                        15:37:51   Log-Likelihood:                -278.07
No. Observations:                  77   AIC:                             560.1
Df Residuals:                      75   BIC:                             564.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         64.4348      2.757     23.367      0.000      58.942      69.928
ksp_unik       0.8528      0.125      6.841      0.000       0.604       1.101
==============================================================================
Omnibus:                        4.275   Durbin-Watson:                   1.738
Prob(Omnibus):                  0.118   Jarque-Bera (JB):                4.017
Skew:                           0.559   Prob(JB):                        0.134
Kurtosis:                       2.951   Cond. No.                         59.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
df['ksp_unik_2'] = pow(df['ksp_unik'], 2)

x = df[['ksp_unik','ksp_unik_2']]
x = sm.add_constant(x)
y = df['az_wo']

model = sm.OLS(y, x).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  az_wo   R-squared:                       0.454
Model:                            OLS   Adj. R-squared:                  0.440
Method:                 Least Squares   F-statistic:                     30.83
Date:                Fri, 09 Apr 2021   Prob (F-statistic):           1.83e-10
Time:                        15:37:00   Log-Likelihood:                -273.40
No. Observations:                  77   AIC:                             552.8
Df Residuals:                      74   BIC:                             559.8
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         46.2659      6.439      7.185      0.000      33.436      59.096
ksp_unik       2.6940      0.608      4.431      0.000       1.483       3.905
ksp_unik_2    -0.0400      0.013     -3.087      0.003      -0.066      -0.014
==============================================================================
Omnibus:                        3.589   Durbin-Watson:                   1.723
Prob(Omnibus):                  0.166   Jarque-Bera (JB):                3.380
Skew:                           0.511   Prob(JB):                        0.185
Kurtosis:                       2.896   Cond. No.                     4.13e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.13e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
# linear
regressor = LinearRegression()
regressor.fit(unik, az)
y_pred_lin = regressor.predict(unik)
az_pred_lin = pd.DataFrame(y_pred_lin)

# 2' degree
poly = PolynomialFeatures(degree=2)
unik_2 = poly.fit_transform(unik)

regressor.fit(unik_2,az)
y_pred_2 = regressor.predict(unik_2)
# degree_2_r2 = r2_score(open, y_pred_2)

# visualization data
temp_df_2 = pd.DataFrame(unik, columns=['unik'])
temp_df_2.sort_values(by='unik', inplace=True)
temp_df = pd.DataFrame(y_pred_2)
temp_df_2['az_pred'] = temp_df

In [48]:
# wykres całościowy
  
fig = go.Figure(
      data=[
            go.Scatter(
                name = 'Wyniki',
                x = data['ksp_unik'],
                y = data['az_wo'],
                mode = 'markers',
                opacity=0.75
            ),
            go.Scatter(
                name = f'Model liniowy, sk. R2=38%',
                x = data['ksp_unik'],
                y = az_pred_lin[0],
                mode = 'lines',
                marker_color='#FF9F1C'
            ),
            go.Scatter(
                name = f'Model kwadratowy, sk. R2=44%',
                x = temp_df_2['unik'],
                y = temp_df_2['az_pred'],
                mode = 'lines',
                marker_color='#011627'
            ),
            ],
      layout=go.Layout(
          title = f'KSP_UNIK * LĘK PRZED INTYMNOŚCIĄ (N={len(data)})',
          xaxis_title = 'STYL UNIKOWY',
          yaxis_title='LĘK PRZED INTYMNOŚCIĄ',
          width = 1100,
          height = 700,
          font_size=16
      ))
fig.show()