<a href="https://colab.research.google.com/github/BartoszJanJerzy/stats/blob/main/stata_KJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#WELCOME!

I (Bartosz WÃ³jtowicz, The John Paul II Catholic University of Lublin) wrote this this code to calculate results in one of master thesis.

---

What is the scehdule?

1 - import libraries

2 - functions used later

3 - import data and screening

4 - research sample

5 - descriptive stats

6 - knowledge questions

7 - main analysis: linear regressions

8 - extra analysis: curvilinear regressions

---

We share this code with you, feel free to use or check it.

#1 - LIBRARY

In [ ]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from scipy.stats import pearsonr, ttest_ind, kurtosis, skew, shapiro, f_oneway
import statistics
from statsmodels.formula.api import ols
from scipy import stats

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score

#2 - FUNCTIONS

#3 - DATA

##Load data

In [3]:
raw_data = pd.read_excel('data.xlsx')
data = raw_data.copy()
data

    sex  age  residence  education  marital_status  ...  bz1  bz2  bz3  bz4  bz5
0     0   24          1          3               2  ...    4    3    3    1    5
1     1   24          4          4               1  ...    4    3    4    4    3
2     0   23          4          3               2  ...    2    2    2    3    2
3     0   24          4          3               1  ...    2    5    2    5    2
4     1   23          4          3               2  ...    3    1    1    3    4
..  ...  ...        ...        ...             ...  ...  ...  ...  ...  ...  ...
75    1   23          4          4               2  ...    3    3    2    3    3
76    0   22          4          3               2  ...    1    1    1    2    1
77    1   21          4          3               2  ...    4    4    1    2    2
78    0   23          1          4               2  ...    4    1    1    2    1
79    0   23          1          4               1  ...    3    5    3    4    3

[80 rows x 88 columns]

In [8]:
print(f'The raw research sample has {len(data)} records')

The raw research sample has 80 records

##Screenning

###Calculate means and stds

In [9]:
mean_bezp = data['ksp_bezp'].mean()
sd_bezp = data['ksp_bezp'].std()

mean_lek = data['ksp_lek'].mean()
sd_lek = data['ksp_lek'].std()

mean_unik = data['ksp_unik'].mean()
sd_unik = data['ksp_unik'].std()

mean_az = data['az_wo'].mean()
sd_az = data['az_wo'].std()

###Make filters

In [12]:
filter_1 = data['ksp_bezp'] > mean_bezp - 3*sd_bezp
filter_2 = data['ksp_bezp'] < mean_bezp + 3*sd_bezp

filter_3 = data['ksp_lek'] > mean_lek - 3*sd_lek
filter_4 = data['ksp_lek'] < mean_lek + 3*sd_lek

filter_5 = data['ksp_unik'] > mean_unik - 3*sd_unik
filter_6 = data['ksp_unik'] < mean_unik + 3*sd_unik

filter_7 = data['az_wo'] > mean_az - 3*sd_az
filter_8 = data['az_wo'] < mean_az + 3*sd_az

###Use filters

In [ ]:
data = data[filter_1]
data = data[filter_2]
data = data[filter_3]
data = data[filter_4]
data = data[filter_5]
data = data[filter_6]
data = data[filter_7]
data = data[filter_8]

In [14]:
print(f'The cleaned research sample has {len(data)} records')

The cleaned research sample has 77 records

#4 - RESEARCH SAMPLE

In [67]:
sex = data['sex'].value_counts(sort=False).to_list()

age_mean = round(data['age'].mean(), 2)
age_std = round(data['age'].std(), 2)
age = [0]

residence = data['residence'].value_counts(sort=False).to_list()
education = data['education'].value_counts(sort=False).to_list()
status = data['marital_status'].value_counts(sort=False).to_list()
relation = data['relation'].value_counts(sort=False).to_list()
relation_type = data['relation_type'].value_counts(sort=False).to_list()

relation_len_mean = round(data['relation_len'].mean(), 2)
relation_len_std = round(data['relation_len'].std(), 2)
relation_len = [0]

Ns = []
for i in [sex, age, residence, education, status, relation, relation_type, relation_len]:
  for j in i:
    Ns.append(round(j, 2))


list_perc = []
for i in Ns:
  list_perc.append(round(i/len(data), 2))

Ns_r = []
for i in Ns:
  if i == 0:
    i = '-'
  Ns_r.append(i)

list_perc_r = []
for i in list_perc:
  if i == 0:
    i = '-'
  else:
    i = str(int(i*100)) + '%' 

  list_perc_r.append(i)

In [68]:
demo_dict = {
    'cat':['MÄÅ¼czyzna','Kobieta',
           'Wiek',
           'WieÅ','MaÅe miasto (do 50tys)','Årednie miasto (do 100tys)','DuÅ¼e miasto (pow. 100tys)',
           'Podstawowe','Zasadnicze zawodowe','Årednie','WyÅ¼sze',
           'Panna/kawaler','ZwiÄzek nieformalny','ZamÄÅ¼na/Å¼onaty',
           'Bez zwiÄzku romantycznego','ZwiÄzek romantyczny',
           'Pierwszy zwiÄzek','Kolejny zwiÄzek',
           'DÅugoÅÄ zwiÄzku (miesiÄce)'],
    'N':Ns_r,
    '%':list_perc_r,
    'M':['-','-', age_mean, '-','-','-','-','-','-','-','-','-','-','-','-','-','-','-', relation_len_mean],
    'SD':['-','-', age_std, '-','-','-','-','-','-','-','-','-','-','-','-','-','-','-', relation_len_std]
}

demo_df = pd.DataFrame(demo_dict)
demo_df

                           cat   N    %      M     SD
0                    MÄÅ¼czyzna  38  49%      -      -
1                      Kobieta  39  51%      -      -
2                         Wiek   -    -  23.21   1.38
3                         WieÅ  25  32%      -      -
4       MaÅe miasto (do 50tys)   8  10%      -      -
5   Årednie miasto (do 100tys)  11  14%      -      -
6    DuÅ¼e miasto (pow. 100tys)  33  43%      -      -
7                   Podstawowe   1   1%      -      -
8          Zasadnicze zawodowe   1   1%      -      -
9                      Årednie  40  52%      -      -
10                      WyÅ¼sze  35  45%      -      -
11               Panna/kawaler  39  51%      -      -
12         ZwiÄzek nieformalny  29  38%      -      -
13              ZamÄÅ¼na/Å¼onaty   9  12%      -      -
14   Bez zwiÄzku romantycznego  22  28%      -      -
15         ZwiÄzek romantyczny  55  71%      -      -
16            Pierwszy zwiÄzek  19  25%      -      -
17             Kolejny zwiÄzek  37  48%      -      -
18  DÅugoÅÄ zwiÄzku (miesiÄce)   -    -  34.89  24.63